body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img{
	width: 36.5%;
	height:36.5%;
}



.left{
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}
.right{
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	float: right;
}